{% extends 'index.html' %}
{% block 'content' %}
<div style="display: flex; flex-wrap: wrap;" class="container">
{% for auction in auctions %}
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ auction.title }}</h5>
        <p class="card-text">Cena: {{ auction.get_last_price }}</p>
        <a href="auction_view/{{ auction.id }}" class="btn btn-primary">Przejdź do licytacji</a>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
